html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    color: white;
}

body {
    background: radial-gradient(#FDB30E, #c25e00);
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.my-form {
    float: right;
    margin: 0;
    padding: 10px 16px;
}

.my-form .login {
    float: left;
    font-size: 18px;
    padding-top: 4px;
    margin-right: 20px;
}

.my-form input[type=text],
.my-form input[type=password] {
    padding: 6px 12px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    margin-right: 20px;
}

.my-form input[type=text]:hover,
.my-form input[type=password]:hover {
    box-shadow: 0 0 2px 2px #FDB30E;
}

.my-form input[type=submit] {
    background: linear-gradient(45deg, #DD6D00, #FDB30E);
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: 0.3s ease-in-out;
    margin-right: 30px;
}

.my-form input[type=submit]:hover {
    filter: brightness(1.1);
}