html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    color: white;
}

body {
    background: radial-gradient(#FDB30E, #c25e00);
}

h2 {
    color: #FDB30E;
    margin-bottom: 60px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.card {
    margin: auto;
    width: 50%;
    min-width: 700px;
    height: 50%;
    min-height: 400px;
    border-radius: 20px;

    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
}

.my-background {
    background-color: white;
    opacity: 0.9;
}

.my-form {
    margin: 40px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    box-shadow: inset 0 0 1px 1px #ccc;
}

input[type=text]:hover,
input[type=password]:hover {
    box-shadow: inset 0 0 1px 1px #FDB30E;
}

input[type=submit] {
    background-color: #FDB30E;
    color: white;
    width: 100%;
    margin-top: 40px;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type=submit]:hover {
    background-color: #f0a400;
}